<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/FirstChallange/responsiveImage/css/style.css">
</head>
<body>
    <div class="container">
        <div class="imgs">
            <div class="imgBox"><img src="/FirstChallange/responsiveImage/image/fox.jpg" ></div>
            <div class="imgBox"><img src="/FirstChallange/responsiveImage/image/whale.jpg" alt=""></div>
            <div class="imgBox"><img src="/FirstChallange/responsiveImage/image/baboon.jpg" alt=""></div>
            <div class="imgBox"><img src="/FirstChallange/responsiveImage/image/deer.jpg" alt=""></div>
        </div>
    </div>
</body>
</html>